body {
    font-family: 'Overpass', sans-serif;
}

/*nav-bar*/

.sidenav {
    height: 100%; 
    width: 180px;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #2b32ac; 
    overflow-x: hidden; 
    padding-top: 20px;
}

.sidenav-list {
    text-transform: uppercase;
    font-weight: 100;
    padding-left: 5px;
}

.sidenav-list > a {
    margin-top: 35px;
}

.social-icons {
    position: absolute;
    bottom: 0;
    margin-bottom: 80px;
}

.social-icons > a > i {
    font-size: 40px;
    padding: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ccc;
    display: block;
}

.sidenav a:hover {
    color: #93e2d3;
}

/*home header*/

.home-head {
    background-image: url("../images/head-bkgrd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0;
}

.container-width {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.no-pd-rl {
    padding-right: 0;
    padding-left: 0;
}

.overlay {
    background: rgba(0,0,0,.5);
    width: 100%;
}

.home-text {
    padding-top: 50px;
    padding-bottom: 0;
}

.home-text > h1 {
    font-family: 'overpass', sans-serif;
    font-weight: 200;
    font-size: 60px;
    letter-spacing: 1px;
    color: #ccc;
}

#home-text {
    color: #93e2d3
}

.home-text-name {
    padding-bottom: 50px;
    color: #ccc;
    font-size: 20px;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-weight: 100;
}

.home-text-name > a {
    color: #93e2d3;
}

.home-text-name > a:hover {
    color: #476ce8;
    text-decoration: none;
}

/*skill content*/

.skill-content {
    width: 100%;
    margin-bottom: 35px;
}

.skill-row > div > i {
    color: #2b32ac;
    font-size: 30px;
}

.skill-row > div > h3 {
    color: #2b32ac;
    text-transform: uppercase;
}

.skill-row > div > p {
    color: #2b32ac;
    font-weight: 100;
    font-size: 20px;
}

/*portfolio content*/

.portfolio-content {
    background-color: #ccc;
    width: 100%;
}

.port-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.port-title > h2 {
    color: #476ce8;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 60px;
}

.port-div > div > a > h3 {
    color: #2b32ac;
    text-transform: uppercase;
}

.port-div > div > a {
    text-decoration: none;
    color:  #2b32ac;
}

.port-div > div > a > h3:hover {
    color: #93e2d3;
    background: #2b32ac;
}

.port-img {
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
}

.last-two {
    margin-bottom: 35px;
}

.category {
    margin-bottom: 15px;
    color: #2b32ac;
    font-weight: 100;
    font-size: 20px;
}

/*contact section*/

.contact-section {
    background-color: #93e2d3;
    width: 100%;
}

textarea {
    resize: none;
}

.form-set > label {
    color: #2b32ac;
}

.form-set > input {
    background: #ccc;
    border: 1px solid white;
    margin-bottom: 10px;
}

.form-set > textarea {
    background: #ccc;
    border: 1px solid white;
    margin-bottom: 15px;
}

.btn-form {
    background: #476ce8;
}

.btn-form:hover {
    background: #2b32ac;
    color:  #93e2d3
}

.btn-wrapper {
    margin-bottom: 150px;
}

/*responsiveness*/

@media (max-width:992px) {
    .container-width {
        width: 780px;
    }
}

@media (max-width:768px) {
    .container-width {
        width: 560px;
    }
}

@media (max-width:526px) {
    .container-width {
        width: 410px;
    }
}

@media (max-width:373px) {
    .container-width {
        width: 340px;
    }
}