body {
    font-family: 'Overpass', sans-serif;
}

@media (min-width: 992px) {
    body {
        padding-left: 22rem;
        padding-top: 0;
    }

}

/*nav-bar*/


#nav-top {
	display: none;
	background-color: #2b32ac;
	color: #fff;
}

#nav-brand {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar-default .navbar-toggle:hover {
    background-color: #93e2d3;
}

.nav-home > a:hover {
    color: #93e2d3;
}

#navbar-button > .navbar-toggle > .icon-bar {
	background-color: #fff;
}

.social-icons {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 20%;
}

.social-icons > a {
	margin: 0 1rem;
	font-size: 1.45rem;
}

.social-icons > a > i {
    font-size: 30px;
    padding: 20px;
}

.social-icons > a:hover {
    color: #93e2d3;
}

@media screen and (max-width: 992px) {
	body {
		text-align: center;
	}
	#nav-side {
		display: none;
	}
	#nav-top {
		display: block;
	}
}

.mb-5 {
	margin-bottom: 3rem!important;
}

.nav-icon {
	color: #fff;
}

#nav-side {
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100vh;
	width: 22rem;
	background-color: #2b32ac;
	border-radius: 0px;
	border: none;
}

#nav-links-custom {
    padding-left: 0;
    font-weight: 100;
    text-transform: uppercase;
}

#nav-links-custom > li {
    list-style: none;
}

#nav-links-custom > li > a {
	font-size: 1.25rem;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

@media (min-width: 992px) {
    #nav-links-custom > li > a {
        font-size: 30px;
    }
}

#nav-links-custom > li > a:hover {
    color: #93e2d3;
}

.img-profile {
	margin: 20% 0;
}

.ratio {
	background-image: url("/assets/images/logo.png");
	background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  background-position: 0;
}

/*home header*/

.home-head {
    background-image: url("../images/head-bkgrd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0;
}

.container-width {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.no-pd-rl {
    padding-right: 0;
    padding-left: 0;
}

.overlay {
    background: rgba(0,0,0,.5);
    width: 100%;
}

.home-text {
    padding-top: 50px;
    padding-bottom: 0;
}

.home-text > h1 {
    font-family: 'overpass', sans-serif;
    font-weight: 200;
    font-size: 60px;
    letter-spacing: 1px;
    color: #ccc;
}

#home-text {
    color: #93e2d3
}

.home-text-name {
    padding-bottom: 50px;
    color: #ccc;
    font-size: 20px;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-weight: 100;
}

.home-text-name > a {
    color: #93e2d3;
}

.home-text-name > a:hover {
    color: #476ce8;
    text-decoration: none;
}

/*skill content*/

.skill-content {
    width: 100%;
    margin-bottom: 35px;
}

.skill-row > div > i {
    color: #2b32ac;
    font-size: 30px;
}

.skill-row > div > h3 {
    color: #2b32ac;
    text-transform: uppercase;
}

.skill-row > div > p {
    color: #2b32ac;
    font-weight: 100;
    font-size: 20px;
}

/*portfolio content*/

.portfolio-content {
    background-color: #ccc;
    width: 100%;
}

.port-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.port-title > h2 {
    color: #476ce8;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 60px;
}

.port-div > div > a > h3 {
    color: #2b32ac;
    text-transform: uppercase;
}

.port-div > div > a {
    text-decoration: none;
    color:  #2b32ac;
}

.port-div > div > a > h3:hover {
    color: #93e2d3;
    background: #2b32ac;
}

.port-img {
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
}

.last-two {
    margin-bottom: 35px;
}

.category {
    margin-bottom: 15px;
    color: #2b32ac;
    font-weight: 100;
    font-size: 20px;
}

/*contact section*/

.contact-section {
    background-color: #93e2d3;
    width: 100%;
}

textarea {
    resize: none;
}

.form-set > label {
    color: #2b32ac;
}

.form-set > input {
    background: #ccc;
    border: 1px solid white;
    margin-bottom: 10px;
}

.form-set > textarea {
    background: #ccc;
    border: 1px solid white;
    margin-bottom: 15px;
}

.btn-form {
    background: #476ce8;
}

.btn-form:hover {
    background: #2b32ac;
    color:  #93e2d3
}

.btn-wrapper {
    margin-bottom: 150px;
}

/*responsiveness*/


@media (max-width:992px) {
    .container-width {
        width: 780px;
    }
}

@media (max-width:768px) {
    .container-width {
        width: 500px;
    }
}

@media (max-width:526px) {
    .container-width {
        width: 350px;
    }
    #nav-brand {
        font-size: 15px;
    }
    .home-text > h1 {
        font-size: 30px;
    }
}

@media (max-width:373px) {
    .container-width {
        width: 280px;
    }
    #nav-brand {
        font-size: 15px;
    }
    .port-title > h2 {
        font-size: 25px;
    }
    .home-text > h1 {
        font-size: 20px;
    }
    .skill-row > div > p {
        font-size: 15px;
    }
    .port-title > h3 {
        font-size: 20px;
    }
    .category {
        font-size: 15px;
    }
    .port-img {
        height: 300px;
    }
}

@media (max-width:320px) {
    .container-width {
        width: 220px;
    }
    .home-text-name {
        font-size: 10px;
    }
    .port-img {
        height: 200px;
    }
}